<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goseppe.androidproject_jb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicone"
        android:label="Films rating"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addActivity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".InternetSearchActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".IntAddActivity" />
        <activity android:name=".addIntActivity"></activity>
    </application>

</manifest>